.hover:bg-gray-50 class=('font-bold' if !signal.read?) data-controller="signum-notification-drawer-item" data-action="click->signum-notification-drawer-item#markRead" data-signum-notification-drawer-target="item" data-signum-notification-drawer-item-signal-state-value="#{signal.state}" data-signum-notification-drawer-item-signal-id-value="#{signal.id}" id="notification_#{data[:type]}_parent_#{signal.signalable_id}_#{signal.id}"
  = render(Signum::NotificationBody::Component.new(signal, data))